<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="#" th:action="@{/authenticate}" method="POST">
    <div th:if="${param.error}">
        <i style="color: red;">Invalid username or password</i>
    </div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" autofocus="autofocus" />
    <br />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    <br/>
    <input type="submit" value="Login" />
</form>

<a th:href="@{/auth/register}"><button>Register</button></a>
</body>
</html>