<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User registered successfully!</h2>
<ul>
    <li th:text="'Username: ' + ${registeredUser.username}"></li>
    <li th:text="'Email: ' + ${registeredUser.email}"></li>
    <li th:text="'First name: ' + ${registeredUser.firstName}"></li>
    <li th:text="'Last name: ' + ${registeredUser.lastName}"></li>
</ul>
<hr>

<a th:href="@{/auth/login}">Login with your new account</a>

</body>
</html>