<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/auth/register}" method="POST" th:object="${webUser}">
    <div th:if="${registrationError}">
        <i style="color: red;"><span th:text="${registrationError}"></span></i>
    </div>
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" autofocus="autofocus" th:field="*{firstName}"/>
    <br/>
    <ul th:if="${#fields.hasErrors('firstName')}">
        <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
    </ul>
    <br />
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"/>
    <br/>
    <ul th:if="${#fields.hasErrors('lastName')}">
        <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
    </ul>
    <br/>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" th:field="*{email}"/>
    <br/>
    <ul th:if="${#fields.hasErrors('email')}">
        <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
    </ul>
    <br/>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" th:field="*{username}"/>
    <br/>
    <ul th:if="${#fields.hasErrors('username')}">
        <li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
    </ul>
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" th:field="*{password}"/>
    <br/>
    <ul th:if="${#fields.hasErrors('password')}">
        <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
    </ul>
    <br/>
    <input type="submit" value="Register" />
</form>
</body>
</html>