<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register user form</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <form method="POST" th:action="@{/createUser}" th:object="${user}">
        <h1>Register</h1>
        <div th:if="${#fields.hasErrors()}">
          <span class="validationError">
             Please correct the problems below and resubmit.
          </span>
        </div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error
        </span>
        <br/>

        <label for="age">Age:</label>
        <input type="number" th:field="*{age}" id="age"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}">Age Error
        </span>
        <br/>

        <label for="postalCode">Postal code:</label>
        <input type="text" th:field="*{postalCode}" id="postalCode"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('postalCode')}"
              th:errors="*{postalCode}">Postal code Error
        </span>
        <br/>

        <label for="userType">User type:</label>
        <select th:field="*{userType}" id="userType">
            <option th:each="type : ${T(com.example.validForm.UserType).values()}"
                    th:value="${type}"
                    th:text="${type}">User type</option>
        </select>

        <span class="validationError"
              th:if="${#fields.hasErrors('userType')}"
              th:errors="*{userType}">User type Error
        </span>
        <br/>

        <label for="statuteAccepted">Do you accept the terms? </label>
        <input type="checkbox" th:field="*{statuteAccepted}" id="statuteAccepted"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('statuteAccepted')}"
              th:errors="*{statuteAccepted}">Usage statute acceptation Error
        </span>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>