<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Zamówienia użytkownika</title>
</head>
<body>
<div th:if="${userOrders.size() == 0}">
    <h1>Brak zamówień</h1>
    <hr/>
    <a th:href="@{/}">Wróć do strony głównej</a>
</div>
<div th:if="${userOrders.size() > 0}">
    <h1>Twoje zamówienia</h1>
    <ul>
        <li th:each="order : ${userOrders}">
            <span th:text="'Zamówienie numer ' + ${order.id} + ' złożone ' + ${order.createdAt} + ${order.type == 'here' ? ' na miejscu ' : ' na wynos '} + '(' + ${order.totalPrice} + 'zł)'"></span>
            <ol>
                <li th:each="product : ${order.products}">
                    <span th:text="${product.name} + ' ' + ${product.price} + 'zł'"></span>
                </li>
            </ol>
        </li>
    </ul>
    <hr/>
    <a th:href="@{/}">Wróć do strony głównej</a>
</div>
</body>
</html>