<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
</head>
<body>
    <h1>Panel administratora</h1>
    <a th:href="@{/admin/products}"><button>Przejdź do listy produktów</button></a>
    <a th:href="@{/admin/statistics}"><button>Przejdź do statystyk zamówień</button></a>
    <hr/>
    <form method="GET" th:action="@{'/'}">
        <button type="submit">Wróć do strony domowej</button>
    </form>
</body>
</html>