<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora - edycja produktu</title>
</head>
<body>

<h1>Edycja produktu</h1>
<span th:if="${error}" th:text="${error}"></span>
<form method="POST" th:action="@{'/admin/products/edit/' + ${product.id}}" th:object="${product}">
    <label>Nazwa produktu: <input type="text" th:field="*{name}"/></label><br/>
    <label>Cena produktu: <input type="number" step="0.01" th:field="*{price}"/></label><br/>
    <label style="visibility: hidden;">Typ: <input type="text" th:field="*{type}"/></label><br/>
    <label>Składniki:
        <ul>
            <li th:each="ingredient : ${ingredients}">
                <label th:text="${ingredient.name}"></label>
                <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:checked="${productIngredients.contains(ingredient.id)}"/>
            </li>
        </ul>
    </label><br/>
    <input type="submit" value="Zapisz"/>
</form>
<form method="GET" th:action="@{/admin/products}">
    <input type="submit" value="Anuluj"/>
</form>

</body>
</html>