<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora - produkty</title>
</head>
<body>
    <h1>Lista dostępnych produktów</h1>
    <span th:if="${error}" th:text="${error}"></span>
    <ol>
        <li th:each="product : ${products}">
            <span th:text="${product.name} + ' ' + ${product.price} + 'zł'"></span>
            <a th:href="@{'/admin/products/edit/' + ${product.id}}"><button>Edytuj produkt</button></a>
            <br/>
            <ul>
                <span>Składniki:</span>
                <li th:each="ing : ${product.ingredients}">
                    <span th:text="${ing.name}"></span>
                </li>
            </ul>
        </li>
    </ol>
    <form method="GET" th:action="@{'/admin'}">
        <button type="submit">Wróć do panelu</button>
    </form>

</body>
</html>