<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
<div th:if="${user.age > 30 && numberOfDaysBetween > 200}">
    <p>Witaj [[${user.name}]]</p>
    <p>od Twojej rejestracji minęło [[${numberOfDaysBetween}]] dni.</p>
</div>
<div>
    <h1>Dane użytkownika</h1>
    <p th:text="${user.name}"></p>
    <p th:text="${user.id}"></p>
    <p th:if="${user.age > 35}" th:text="${user.age} + ' - Powyżej średniej'"></p>
    <p th:unless="${user.age > 35}" th:text="${user.age}"></p>
    <td th:switch="${user.userType.toString()}">
        <p th:case="'ADMIN'">Użytkownik ma rolę administratora</p>
        <p th:case="'USER'">Użytkownik ma standardową rolę</p>
        <p th:case="*">Użytkownik nie jest przypisany do żadnej roli</p>
    </td>
    <p th:text="${df.format(user.registrationDate)}"></p>
</div>
<div>
    <p>Czy artur na stronie: <span th:text="${user.name == 'Artur' ? 'tak' : 'nie'}"></span>   </p>
</div>
</body>
</html>