<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <table t>
        <th>ID</th>
        <th>Imię</th>
        <th>Wiek</th>
        <th>Rola</th>
        <th>Data rejestracji</th>
        <th>Liczba dni od rejestracji</th>
        <tr
            th:each="user: ${users}"
            th:with="startLocalDate=${T(java.time.LocalDate).parse(user.registrationDate.toString())}, endLocalDate=${T(java.time.LocalDate).parse(todaysDate.toString())}"
        >
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:switch="${user.userType.toString()}">
                <span th:case="'ADMIN'">Użytkownik ma rolę administratora</span>
                <span th:case="'REGISTERED'">Użytkownik jest zarejestrowany</span>
                <span th:case="'GUEST'">Użytkownik jest gościem</span>
                <span th:case="*">Użytkownik nie jest przypisany do żadnej roli</span>
            </td>
            <td th:text="${user.registrationDate}"></td>
            <td th:text="${T(java.time.temporal.ChronoUnit).DAYS.between(startLocalDate, endLocalDate)}"></td>
        </tr>
    </table>
</body>
</html>