<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie - podsumowanie</title>
</head>
<body>
    <h3>Płatność zostałą zaakceptowana. Oto podsumowanie</h3>
    <p th:text="'Numer zamówienia: ' + ${order.id}"></p>
    <p th:text="'Należność za zamówienie: ' + ${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 2, 'POINT')} + 'zł'"></p>
    <p th:text="'Data zamówienia: ' + ${order.createdAt}"></p>
    <ol>
        <li th:each="product : ${order.products}">
            <span th:text="${product.name}"></span>
            <span th:text="${product.price}"></span>
            <ul>
                <span>Składniki:</span>
               <li th:each="ing : ${product.ingredients}">
                     <span th:text="${ing.name}"></span>
                     <span th:text="${ing.amount}"></span>
                     <span th:text="${ing.unit}"></span>
               </li>
            </ul>
        </li>
    </ol>
    <form method="GET" th:action="@{'/'}">
        <button type="submit">Wróć do strony domowej</button>
    </form>
</body>
</html>