<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Zamówienie - składniki dla ' + ${product.name}"></title>
</head>
<body>
<p th:if="${error}" style="color: red" th:text="${error}"></p>
  <form method="POST" th:action="''">
    <span th:text="${product.name}"></span><br/>
    <span th:text="'Wybierz dodatkowe składniki'"></span>
    <ol>
      <li th:each="ing : ${availableIngredients}">
        <input
                type="checkbox"
                name="availableIngredients"
                th:value="${ing.id}"
                th:checked="${productIngredientsIndexes.contains(ing.id)}"/>
        <span th:text="${ing.name} + ' - ' + ${ing.amount} + ' x ' + ${ing.unit}"></span>
      </li>
    </ol>
    <input type="submit" value="Zapisz i wróć" />
  </form>
<hr/>
<form method="GET" th:action="@{/order/products/ingredients}">
    <button type="submit">Porzuć wybór składników</button>
</form>
<a th:href="@{/order(reset=true)}"><button type="button">Zacznij zamówienie od nowa</button></a>
</body>
</html>