<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie - składniki</title>
</head>
<body>
<p th:if="${error}" style="color: red" th:text="${error}"></p>
<h3>Dobierz składniki do wybranych produktów</h3>
    <form method="POST" th:action="@{/order/products/ingredients}" th:object="${order}">
        <ul>
            <li th:each="product, itemStat : ${order.products}">
                <span th:text="${product.name}"></span><br/>
                <span th:each="ing : ${product.ingredients}" th:text="${ing.name} + ' '"></span><br/>
                <a th:href="@{'/order/products/ingredients/' + ${itemStat.index}}">
                    <span th:text="'Select ingredients for ' + ${product.name}"></span>
                </a>
            </li>
        </ul>
        <input type="submit" value="Złóż zamówienie" />
    </form>
    <hr/>
    <form method="GET" th:action="@{'/'}">
        <button type="submit">Anuluj składanie zamówienia</button>
    </form>
    <form method="GET" th:action="@{/order/products}">
        <button type="submit">Wróć do wyboru produktów</button>
    </form>
<a th:href="@{/order(reset=true)}"><button type="button">Zacznij zamówienie od nowa</button></a>
</body>
</html>