<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie - wybór metody płatności</title>
</head>
<body>
    <h3 th:text="'Należność za zamówienie: ' + ${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 2, 'POINT')}"></h3>
    <h3>Wybierz metodę płatności:</h3>
    <span th:if="${error}" style="color: red" th:text="${error}"></span>
    <form method="POST" th:action="@{/order/payment}">
        <input type="radio" name="paymentMethod" value="CASH" checked="checked"> Gotówka<br>
        <input type="radio" name="paymentMethod" value="CARD"> Karta<br>
        <input type="submit" value="Submit">
    </form>
    <h3>Twoje zamówienie:</h3>
    <ol>
        <li th:each="product : ${order.products}">
            <span th:text="${product.name}"></span>
            <span th:text="${product.price}"></span>
            <ul>
                <span>Składniki:</span>
               <li th:each="ing : ${product.ingredients}">
                     <span th:text="${ing.name}"></span>
                     <span th:text="${ing.amount}"></span>
                     <span th:text="${ing.unit}"></span>
               </li>
            </ul>
        </li>
    </ol>

    <form method="GET" th:action="@{/}">
        <button type="submit">Anuluj składanie zamówienia</button>
    </form>
    <form method="GET" th:action="@{/order/products/ingredients}">
        <button type="submit">Wróć do wybóru składników</button>
    </form>
    <a th:href="@{/order(reset=true)}"><button type="button">Zacznij zamówienie od nowa</button></a>
</body>
</html>