<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora - statystyki zamówień</title>
</head>
<body>
<div th:if="!${error}">
<h3 th:text="'Liczba zamówień w mięsiącu ' + ${currentMonth} + ' w roku ' + ${currentYear} + ': ' + ${numberOfOrdersLast30Days}"></h3>
<h3 th:text="'Łączna wartość zamówień w mięsiącu ' + ${currentMonth} + ' w roku ' + ${currentYear} + ': ' + ${totalSalesLast30Days == null ? 0 : #numbers.formatDecimal(totalSalesLast30Days, 0, 'COMMA', 2, 'POINT')} + 'zł'"></h3>
<h3 th:text="'Średnia wartość zamówienia w mięsiącu ' + ${currentMonth} + ' w roku ' + ${currentYear} + ': ' + ${averageOrderValueLast30Days == null ? 0 : #numbers.formatDecimal(averageOrderValueLast30Days, 0, 'COMMA', 2, 'POINT')} + 'zł'"></h3>
<hr/>
<h3 th:text="'Liczba zamówień w dniu ' + ${currentDay} + ' ' + ${currentMonth} + ' ' + ${currentYear} + ': ' + ${numberOfOrdersToday}"></h3>
<h3 th:text="'Łączna wartość zamówień w dniu ' + ${currentDay} + ' ' + ${currentMonth} + ' ' + ${currentYear} + ': ' + ${totalSalesToday == null ? 0 : #numbers.formatDecimal(totalSalesToday, 0, 'COMMA', 2, 'POINT')} + 'zł'"></h3>
<h3 th:text="'Średnia wartość zamówienia w dniu ' + ${currentDay} + ' ' + ${currentMonth} + ' ' + ${currentYear} + ': ' + ${averageOrderValueToday == null ? 0 : #numbers.formatDecimal(averageOrderValueToday, 0, 'COMMA', 2, 'POINT')} + 'zł'"></h3>
<hr/>
</div>
<span th:if="${error}" th:text="${error}"></span>
<form method="POST" th:action="@{'/admin/statistics'}">
    <select name="year" id="year">
        <option th:each="year : ${years}" th:value="${year}" th:text="${year}" th:selected="${year == currentYear}"></option>
    </select>
    <select name="month" id="month">
        <option th:each="month : ${months.values().stream().sorted()}" th:value="${month}" th:text="${month}" th:selected="${month == 1}"></option>
    </select>
    <select name="day" id="day">
        <option th:each="day : ${days}" th:value="${day}" th:text="${day}" th:selected="${day == 1}"></option>
    </select>
    <button type="submit">Pokaż statystyki</button>
</form>
<hr/>
<form method="GET" th:action="@{'/admin'}">
    <button type="submit">Wróć do panelu</button>
</form>



</body>
</html>