<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie - typ zamówienia</title>
</head>
<body>
<p th:if="${error}" style="color: red" th:text="${error}"></p>
    <form method="POST" th:action="@{/order}" th:object="${order}">
        <span>Wybierz typ zamówienia</span>
        <br/>
        <input type="radio" name="orderType" id="togo" value="togo" th:field="*{type}"/>Na wynos
        <input type="radio" name="orderType" id="here" value="here" th:field="*{type}"/>Na miejscu

        <input type="submit" value="Wybierz" />
    </form>
    <hr/>
    <form method="GET" th:action="@{'/'}">
        <button type="submit">Anuluj składanie zamówienia</button>
    </form>
    <a th:href="@{/order(reset=true)}"><button type="button">Zacznij zamówienie od nowa</button></a>
</body>
</html>