<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie - produkty</title>
</head>
<body>
<p th:if="${error}" style="color: red" th:text="${error}"></p>
<h3>Wybierz produkty</h3>
<form method="POST" th:action="@{/order/products}">
    <div th:each="product : ${products}">
        <input type="checkbox" name="orderProducts" th:value="${product.id}" th:checked="${productsInOrder.contains(product.name)}"/>
        <span th:text="${product.name} + ' - ' + ${product.price} + 'zł'"></span>
    </div>
    <input type="submit" value="Przejdź do wyboru składników" />
    <hr/>
</form>

<form method="GET" th:action="@{'/'}">
    <button type="submit">Anuluj składanie zamówienia</button>
</form>
<form method="GET" th:action="@{/order}">
    <button type="submit">Wróć do wyboru typu zamówienia</button>
</form>
<a th:href="@{/order(reset=true)}"><button type="button">Zacznij zamówienie od nowa</button></a>
</body>
</html>