<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Kiosk</title>
</head>
<body>
<h1>Home</h1>
<p>reklama</p>
<a th:href="@{/order}"><button>Złóż zamówienie</button></a>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/user/orders}">Pokaż moje zamówienia</a>
    <p>User: <span sec:authentication="principal.username"></span></p>
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin}">Panel administratora</a>
    </div>
    <hr>
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/auth/login}"><button>Login</button></a>
    <a th:href="@{/auth/register}"><button>Register</button></a>
</div>
</body>
</html>