<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>page not found</title>
</head>
<body>
<a th:href="@{/auth/login}"><button>Login</button></a>
<a th:href="@{/auth/register}"><button>Register</button></a>
</body>
</html>