<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name} + ' ' + ${product.price} + 'zł'"></span>
            <ul>
                <li th:each="ingredient : ${product.ingredients}">
                    <span th:text="${ingredient.name} + ' - ' + ${ingredient.amount} + ' * ' + ${ingredient.unit} "></span>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>